
<div class=" content">
  <div class="row">
      <div class=" col-12" *ngIf="!viaje.archivado && !viaje.borrado">
        <button routerLink="nuevogasto" class=" btn btn-link" type="button" >
          Nuevo gasto
        </button>
        <button routerLink="nuevopago" class=" btn btn-link" type="button" >
          Nuevo pago
        </button>
        <button routerLink="editarviaje" class=" btn btn-link" type="button" >
          Editar
        </button>
        <button  [swal]="deleteSwal" class=" btn btn-link" type="button" >
          Borrar
        </button>
        <swal
          #deleteSwal
          title="Eliminar viaje {{viaje.descripcion}}?"
          text="Esta acción no se puede deshacer"
          icon="warning"
          cancelButtonText="Cancelar"
          confirmButtonText="Borrar"
          [showCancelButton]="true"
          [focusCancel]="true"
          (confirm)="borrarViaje()">
        </swal>
        <button  [swal]="archivarSwal" class=" btn btn-link" type="button" >
          Archivar
        </button>
        <swal
          #archivarSwal
          title="¿Archivar {{viaje.descripcion}}?"
          text=""
          icon="info"
          cancelButtonText="Cancelar"
          confirmButtonText="Archivar"
          [showCancelButton]="true"
          [focusCancel]="true"
          (confirm)="archivarViaje()">
        </swal>


      </div>
      <div class="col-12">
        <div class=" card card-stats">
          <div class=" card-body">
            <div class=" row">
              <div class=" col-12">
                <div *ngIf="viaje.borrado" class="alert alert-danger" role="alert">
                  Este viaje ha sido marcado para borrar. Desaparecera en unas horas. <a (click)="cancelarBorrado()">Cancelar</a>
                </div>
                <p class=" cart-title">{{viaje.descripcion}}</p>
                <p class=" card-description">Fechas: {{fechasInicio}} ->  {{fechasFin}}
                </p>
                <p class=" card-description">Usuarios permitidos:<br>
                  <span *ngFor="let usuario of viaje.permitidos | keyvalue">
                    - {{usuario.value["nombre"]}} <{{usuario["key"]}}> <span *ngIf="usuario.value['owner']" class="label label-primary">Creador</span><br>
                  </span>
                </p>
                <p class=" card-description">Participantes:<br>
                  <span *ngFor="let persona of personas">
                    - {{persona.nombre}} <{{persona.email | lowercase}}> <br>
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="col-12">

      <div class=" card card-stats">
        <div class=" card-body">
          <div class=" row">
            <div class=" col-12">
              <h3>Gastos</h3>
              <table style="width: 100%">
                <tr>
                  <th>Desc</th>
                  <th>Cantidad</th>
                  <th>Cantidad Moneda Principal</th>
                  <th>Pagador</th>
                  <th>Fecha</th>
                </tr>
                <tr *ngFor="let gasto of gastos">
                  <td>{{gasto.descripcion}}</td>
                  <td>{{gasto.cantidad | number : '0.2-2'}} {{gasto.moneda}}</td>
                  <td>{{(gasto.cantidad / gasto.ratio) | number : '0.2-2'}} {{viaje.monedaPrincipal}}</td>
                  <td>{{personasIndex[gasto.pagador]}}</td>
                  <td>{{gasto.fechaLocal }}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-12">

      <div class=" card card-stats">
        <div class=" card-body">
          <div class=" row">
            <div class=" col-12">
              <h3>Pagos</h3>
              <h4>Cuentas pendientes</h4>

              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" *ngFor="let persona of personas">
                  <a [className]="idPersonaCuentasActiva!=persona.id ? 'nav-link' : 'nav-link active'" id="home-tab" data-toggle="tab" role="tab" aria-controls="home" aria-selected="true" (click)="verCuentasPersona(persona.id)">{{persona.nombre}}</a>
                </li>
              </ul>

              <p>El participante {{personasIndex[idPersonaCuentasActiva]}} debe a...</p>
              <table style="width: 100%">
                <tr>
                  <th></th>
                  <th>Total debido (excluido pagos)</th>
                  <th>Pagos</th>
                  <th>Balance (debido-pagos)</th>
                </tr>
                <ng-container *ngIf="idPersonaCuentasActiva">
                  <ng-container *ngFor="let perso of personas">
                    <tr *ngIf="perso.id != idPersonaCuentasActiva">
                      <td>{{perso.nombre}}</td>
                      <td *ngIf="resumenPagos[idPersonaCuentasActiva]">{{resumenPagos[idPersonaCuentasActiva].debe[perso.id] | number : '0.2-2'}} {{viaje.monedaPrincipal}}</td>
                      <td *ngIf="resumenPagos[idPersonaCuentasActiva]">{{resumenPagos[idPersonaCuentasActiva].pagos[perso.id] | number : '0.2-2'}} {{viaje.monedaPrincipal}}</td>
                      <td *ngIf="resumenPagos[idPersonaCuentasActiva]">{{resumenPagos[idPersonaCuentasActiva].debe[perso.id] - resumenPagos[idPersonaCuentasActiva].pagos[perso.id] | number : '0.2-2'}} {{viaje.monedaPrincipal}}</td>
                    </tr>
                  </ng-container>
                </ng-container>
              </table>



              <p>Al participante {{personasIndex[idPersonaCuentasActiva]}} se le debe por...</p>
              <table style="width: 100%">
                <tr>
                  <th></th>
                  <th>Total debido (excluido pagos)</th>
                  <th>Pagos</th>
                  <th>Balance (debido-pagos)</th>
                </tr>
                <ng-container *ngIf="idPersonaCuentasActiva">
                  <ng-container *ngFor="let perso of personas">
                    <tr *ngIf="perso.id != idPersonaCuentasActiva">
                      <td>{{personasIndex[perso.id]}}</td>
                      <td *ngIf="resumenPagos[perso.id]">{{resumenPagos[perso.id].debe[idPersonaCuentasActiva] | number : '0.2-2'}} {{viaje.monedaPrincipal}}</td>
                      <td *ngIf="resumenPagos[perso.id]">{{resumenPagos[perso.id].pagos[idPersonaCuentasActiva] | number : '0.2-2'}} {{viaje.monedaPrincipal}}</td>
                      <td *ngIf="resumenPagos[perso.id]">{{resumenPagos[perso.id].debe[idPersonaCuentasActiva] - resumenPagos[perso.id].pagos[idPersonaCuentasActiva] | number : '0.2-2'}} {{viaje.monedaPrincipal}}</td>
                    </tr>
                  </ng-container>
                </ng-container>
              </table>
              <p>* Los importes son mostrados en {{viaje.monedaPrincipal}}. Ratio de conversión de divisa aplicado. Este resumen está sujeto a cambios por ratio de divisa.</p>
              <br>

              <h4>Historico pagos</h4>
              <table style="width: 100%">
                <tr>
                  <th>Pagador</th>
                  <th>Beneficiario</th>
                  <th>Nota</th>
                  <th>Cantidad</th>
                  <th>Cantidad Moneda Principal</th>
                  <th>Fecha</th>
                </tr>
                <tr *ngFor="let pago of pagos">
                  <td>{{personasIndex[pago.pagador]}}</td>
                  <td>{{personasIndex[pago.beneficiario]}}</td>
                  <td>{{pago.nota}}</td>
                  <td>{{pago.cantidad | number : '0.2-2'}} {{pago.moneda}}</td>
                  <td>{{(pago.cantidad / pago.ratio) | number : '0.2-2'}} {{viaje.monedaPrincipal}}</td>
                  <td>{{pago.fechaLocal }}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>



</div>
