<h1 class="header">Log in con Firebase o Google Account</h1>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-12">
      <form [formGroup]="loginForm">
        <div class="form-group">
          <label>Correo electrónico</label>
          <input class="form-control" formControlName="email" type="email">
        </div>
        <div class="form-group">
          <label>Contraseña</label>
          <input class="form-control" formControlName="password" type="password">
          <label class="error">{{errorMessage}}</label>
        </div>
        <button (click)="tryLogin(loginForm.value)" class="w-100 btn btn-default" type="submit">Log in</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-12 text-center">
      <button (click)="tryGoogleLogin()" class="btn btn-danger btn-block" type="button">Log in con Google</button>
      <p>Al registrarse acepta la <a routerLink="/politica-privacidad">Política de privacidad</a></p>
      <p>¿No tienes cuenta? <a routerLink="/register">Creala ahora</a></p>
    </div>
  </div>
</div>
