.header {
  text-align: center;
  font-size: 30px;
  margin-bottom: 40px;
}

.row {
  margin-top: 10px;
}

.error {
  color: red;
}

.fondo {
  display: flex;
  background: url(images/splash.svg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.vertical-center {
  margin: auto;
}

.badge {
  vertical-align: middle;
}

.h-100 {
  min-height: 100vh;
}
