<div class=" content">
  <div class=" row">
    <div class=" col-12 col-lg-8">
      <div class=" card">
        <div class=" card-header"><h5 class=" title">Edit Profile</h5></div>
        <div class=" card-body">
          <form [formGroup]="profileForm">
            <div class=" row">
              <div class=" col-md-12 pr-md-1">
                <div class=" form-group">
                  <label>Nombre</label>
                  <input
                    class=" form-control"
                    formControlName="name"
                    type="text"
                    value="{{user.name}}"
                  />
                </div>
              </div>
              <div class=" col-md-12 pr-md-1">
                <div class=" form-group">
                  <label>Email</label>
                  <input
                    class=" form-control"
                    disabled=""
                    type="text"
                    value="{{user.email}}"
                  />
                </div>
              </div>
            </div>
            <div class="">
              <a (click)="save(profileForm.value)" class="btn btn-default">Save</a>
            </div>
          </form>


        </div>
      </div>
    </div>
    <div class=" col-12 col-lg-8">
      <div class=" card">
        <div class=" card-header"><h5 class=" title">Tema</h5></div>
        <div class=" card-body text-center">
          <button (click)="changeDashboardColor('white-content')" class=" btn btn-danger"> Light</button>
          <button (click)="changeDashboardColor('black-content')" class=" btn "> Dark</button>
        </div>
      </div>
    </div>
  </div>
</div>
