.form-control {
  background-color: #27293d !important;
}

.redondo {
  border-radius: 0.4285rem;
  border: 1px solid #2b3553;
}

.btn-eliminar {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #f6465d;
  width: 40px;
  height: 40px;
  border-top-right-radius: 0.4285rem;
  z-index: 1;
}

.btn-eliminar i {
  margin: 13px;
}

.pointer {
  cursor: pointer;
}

.barra-horizontal-menu {
  position: relative;
}

.barra-horizontal-menu:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 15px;
  height: 1px;
  width: calc(100% - 30px);
  background: rgba(255, 255, 255, 0.5);
}
