<!-- Nuevo pago  -->
<div class=" content">
  <div class="card card-stats">
    <form (ngSubmit)="nuevoPago(form.value)" [formGroup]="form">
      <div class="card-body row">
        <!-- Sacar un titulo u otro en base a lo que se este haciendo -->
        <div class="col-12">
          <h1 *ngIf="currentStatus==1">Nuevo pago</h1>
          <h1 *ngIf="currentStatus==2">Editar pago</h1>
        </div>
        <div class="col-12 col-md-6">
          <label for="nota">nota</label>
          <input
            class="form-control"
            formControlName="nota"
            id="nota"
            maxlength="40"
            type="text"/>

          <label for="fecha">Fecha</label>
          <input class="form-control" formControlName="fecha" id="fecha" type="datetime-local">
          <label for="cantidad">Cantidad</label> <input class="form-control" formControlName="cantidad" id="cantidad"
                                                        type="number"/>

          <label for="moneda">Moneda</label>
          <select class="form-control" formControlName="moneda" id="moneda">
            <!-- Sacar todas las monedas disponibles -->
            <option *ngFor="let moneda of monedas" class="form-control" label="{{moneda}}"
                    value="{{moneda}}">{{moneda}}</option>
          </select>
          <label for="ratio">Ratio</label>
          <input class="form-control" formControlName="ratio" id="ratio" type="number"/> {{msgRatio}}

          <label for="pagador">Pagador</label>
          <select class="form-control" formControlName="pagador" id="pagador">
            <!-- Sacar las personas del viaje -->
            <option *ngFor="let persona of personasViaje" value="{{persona.id}}">{{persona.nombre}}</option>
          </select>

          <label for="beneficiario">Beneficiario</label>
          <select class="form-control" formControlName="beneficiario" id="beneficiario">
            <!-- Sacar las personas del viaje -->
            <option *ngFor="let persona of personasViaje" value="{{persona.id}}">{{persona.nombre}}</option>
          </select>

          {{formError}}


          <!-- Cambiar el boton en base a lo que se esta haciendo -->
          <div class="col-12 text-center">
            <input [disabled]="!form.valid" [value]="(currentStatus == 1) ? 'Guardar' : 'Editar'"
                   class="btn btn-primary"
                   type="submit">
          </div>
        </div>
      </div>
    </form>
  </div>


</div>
