<div class="logo">
  <a routerLink="/" class="simple-text logo-mini">
    <div class="logo-img">
      <img src="./assets/img/angular2-logo-white.png" />
    </div>
  </a>
  <a routerLink="/" class="simple-text logo-normal">
    Pro.Bote
  </a>
</div>
<div class="sidebar-wrapper">
  <ul class="nav mt-0" *ngIf="ruta[1]!='viaje'">
    <li
      routerLinkActive="active"
      *ngFor="let menuItem of menuItems"
      class="{{ menuItem.class }} nav-item"
    >
      <a [routerLink]="[menuItem.path]">
        <i class="tim-icons  {{ menuItem.icon }}"></i>
        <p>{{ menuItem.title }}</p>
      </a>
    </li>
  </ul>
  <ul class="nav mt-0" *ngIf="ruta[1]=='viaje'">
    <li class="nav-item barra-horizontal-menu">
      <a [routerLink]="'/dashboard'">
        <i class="tim-icons icon-double-left"></i>
        <p>Todos los viajes</p>
      </a>
    </li>
    <li class="nav-item {{ruta[3]?'':'active'}}">
      <a [routerLink]="'/'+ruta[1]+'/'+ruta[2]+''">
        <i class="tim-icons icon-zoom-split"></i>
        <p>Detalles viaje</p>
      </a>
    </li>
    <li class="nav-item  {{ruta[3]=='nuevogasto'?'active':''}}">
      <a [routerLink]="'/'+ruta[1]+'/'+ruta[2]+'/nuevogasto'">
        <i class="tim-icons icon-bag-16"></i>
        <p>Nuevo gasto</p>
      </a>
    </li>
    <li class="nav-item {{ruta[3]=='nuevopago'?'active':''}}">
      <a [routerLink]="'/'+ruta[1]+'/'+ruta[2]+'/nuevopago'">
        <i class="tim-icons icon-money-coins"></i>
        <p>Nuevo pago</p>
      </a>
    </li>
  </ul>
</div>
