<!-- Logo y titulo de la barra lateral -->
<div class="logo">
  <a class="simple-text logo-mini" routerLink="/">
    <div class="logo-img">
      <img src="./assets/img/angular2-logo-white.png"/>
    </div>
  </a>
  <a class="simple-text logo-normal" routerLink="/">
    Pro.Bote
  </a>
</div>
<!-- Contenido de la barra lateral -->
<div class="sidebar-wrapper">
  <ul *ngIf="ruta[1]!='viaje'" class="nav mt-0">
    <li
      *ngFor="let menuItem of menuItems"
      class="{{ menuItem.class }} nav-item"
      routerLinkActive="active"
    >
      <a [routerLink]="[menuItem.path]">
        <i class="tim-icons  {{ menuItem.icon }}"></i>
        <p>{{ menuItem.title }}</p>
      </a>
    </li>
  </ul>
  <ul *ngIf="ruta[1]=='viaje'" class="nav mt-0">
    <li class="nav-item barra-horizontal-menu">
      <a [routerLink]="'/dashboard'">
        <i class="tim-icons icon-double-left"></i>
        <p>Todos los viajes</p>
      </a>
    </li>
    <li class="nav-item {{ruta[3]?'':'active'}}">
      <a [routerLink]="'/'+ruta[1]+'/'+ruta[2]+''">
        <i class="tim-icons icon-zoom-split"></i>
        <p>Detalles viaje</p>
      </a>
    </li>
    <ng-container *ngIf="nav.permisos!==undefined && nav.permisos">
      <li class="nav-item  {{ruta[3]=='nuevogasto'?'active':''}}">
        <a [routerLink]="'/'+ruta[1]+'/'+ruta[2]+'/nuevogasto'">
          <i class="tim-icons icon-bag-16"></i>
          <p>Nuevo gasto</p>
        </a>
      </li>
      <li class="nav-item {{ruta[3]=='nuevopago'?'active':''}}">
        <a [routerLink]="'/'+ruta[1]+'/'+ruta[2]+'/nuevopago'">
          <i class="tim-icons icon-money-coins"></i>
          <p>Nuevo pago</p>
        </a>
      </li>
    </ng-container>
  </ul>
</div>
