
<div class=" content">
  <div class=" row">
    <div class=" col-12">
      <button (click)="nuevoViaje()" class=" btn btn-link" type="button" >
        Nuevo viaje
      </button>
    </div>
  </div>

  <div class="row">
      <div class="col-12 col-md-6" *ngFor="let viaje of viajes">
        <div class=" card card-stats">
          <div class=" card-body">
            <div class=" row">
              <div class=" col-12">
                <p class=" cart-title">{{viaje.data.descripcion}}</p>
                <p class=" card-category">Usuarios:
                  <span *ngFor="let usuario of viaje.data.usuarios">{{usuario}} </span>
                </p>
              </div>
            </div>
          </div>
          <div class=" card-footer">
            <hr>
            <div class=" stats" routerLink="/viaje/{{viaje.id}}">
              <i class=" tim-icons icon-sound-wave"></i> Acceder partida </div>
          </div>
        </div>
      </div>




  </div>



</div>
