
<div class=" content">
  <div class="row">
      <div class="col-12">
        <h1>FORMULARIO GASTO NUEVO</h1>
        <form (ngSubmit)="nuevoGasto(form.value)" [formGroup]="form">



          Descipcion: <input
            type="text"
            maxlength="40"
            formControlName="descripcion" />

          Fecha: <input type="datetime-local" formControlName="fecha">
          <br>
          Cantidad: <input type="number" formControlName="cantidad"/>
          <br>
          <input type="checkbox" checked> partes iguales
          <br>
          <div
            formArrayName="terceros"
            margin-bottom>

          <section
            [formGroupName]="i"
            *ngFor="let tech of form.controls.terceros['controls']; let i = index">
            Ref: <input
            type="text"
            maxlength="50"
            formControlName="nombre" />

            Cantidad: <input
            type="number"
            maxlength="50"
            formControlName="cantidad" />

          </section>
          </div>


          <input type="submit" class="btn--blue btn--add" [disabled]="!form.valid" [value]="(currentStatus == 1) ? 'Agregar' : 'Editar'">

        </form>
      </div>
  </div>



</div>
